body {
	font-family: 'Jost', sans-serif;
	font-size: 24px;
	font: #000;
	background-color: aliceblue;
	margin: 5%;
}


#search-bar {
	align-self: center;
	align-content: center;
	padding: 40px;
}


#search-bar input {
	font-family: 'Jost', sans-serif;
	font-size: 24px;	
  width: 78%;
  padding: 20px;
  border: 2px solid #ccc;
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
}


#search-bar button {
	font-family: 'Jost', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #00f;
	background-color: #fff;
	width: 18%;
	padding: 20px 20px;
	border: 2px solid #aaf;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
}
#search-bar button:hover {
	border: 2px solid #00f;
}
#search-bar button:active {
	color: #fff;
	background-color: #00f;
	border: 2px solid #00f;
}


#search-response {
	align-self: center;
	align-content: center;
	padding: 40px;
}
#search-response textarea {
	font-family: 'Jost', sans-serif;
	font-size: 18px;
  width: 96.5%;
	min-height: 500px;
	resize: vertical;
  padding: 20px 20px;
  border: 2px solid #ccc;
  border-radius: 16px;
}
